/* Base reset */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Base document styles */
body {
  font-family: system-ui, sans-serif;
  line-height: 1.5;
  background-color: hsl(0, 0%, 98%);
}

/* Header */
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  background-color: white;
  box-shadow: 2px 1px 5px hsl(0, 0%, 52%);
}

.dark-mode-wrapper {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

/* search container */
.search-container {
  display: flex;
  justify-content: space-between;
  padding: 2rem;
}

/* filter */
.select-style {
  width: 30rem;
  padding: 1rem;
}

/* search */
.header-input {
  width: 30rem;
  padding: 1rem 1rem 1rem 3rem;
  box-shadow: 2px 1px 5px hsl(0, 0%, 52%);
}

/* position icon within search*/
.search-input-wrapper {
  position: relative;
}

.search-input-wrapper ion-icon {
  position: absolute;
  left: 1rem;
  top: 50%;
  transform: translateY(-50%);
}

/* FLAG CARDS */
#card-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 3rem;
  margin: 0 30px;
}
.card {
  background-color: white;
}

.flag {
  width: 100%;
  height: 160px;   /* pick consistent height */
  object-fit: cover;
}

.input-class {
  display: none;
}