/* Base reset */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Base document styles */
body {
  font-family: system-ui, sans-serif;
  line-height: 1.5;
}

/* header */
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
}

.dark-mode-container {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

/* search container */
.search-container {
  display: flex;
  justify-content: space-between;
  padding: 2rem;
}

/* style input & select */
.input-style,
.select-style {
  width: 30rem;
  padding: 1rem;
}
