/* Base reset */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Base document styles */
body {
  font-family: "Nunito Sans", sans-serif;
  line-height: 1.5;
  background-color: hsl(0, 0%, 98%);
}
h1 {
  font-weight: 800;
}

h2 {
  font-weight: 600;
}

p {
  font-weight: 300;
}
/* Header */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  background-color: white;
  box-shadow: 2px 1px 5px hsl(0, 0%, 52%);
}
.flag-content {
  display: flex;
  flex-direction: column;
}
.dark-mode-wrapper {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

/* search container */
.search-container {
  display: flex;
  justify-content: space-between;
  padding: 2rem;
}

/* filter */
.select-style {
  width: 30rem;
  padding: 1rem;
  flex: 1;
  max-width: 20rem;
}

/* search */
.header-input {
  padding: 1rem 1rem 1rem 3rem;
  box-shadow: 2px 1px 5px hsl(0, 0%, 52%);
    width: 100%;

}

/* position icon within search*/
.search-input-wrapper {
  position: relative;
    flex: 1;
  max-width: 30rem;
}

.search-input-wrapper ion-icon {
  position: absolute;
  left: 1rem;
  top: 50%;
  transform: translateY(-50%);
}

/* FLAG CARDS */
#card-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 3rem;
  margin: 0 30px;
}
.card {
  background-color: white;
  border-radius: 5px;
  overflow: hidden;
}

.flag {
  width: 100%;
  height: 160px; /* pick consistent height */
  object-fit: cover;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.input-class {
  display: none;
}

/* DARK MODE */
body.dark-mode {
  background-color: hsl(207, 26%, 17%);
  color: white;
}

body.dark-mode .header {
  background-color: hsl(209, 23%, 22%);
}

body.dark-mode .card {
  background-color: hsl(209, 23%, 22%);
}

body.dark-mode .search-container,
body.dark-mode .detail-container {
  background-color: hsl(207, 26%, 17%);
}

body.dark-mode button,
body.dark-mode select,
body.dark-mode input {
  background-color: hsl(209, 23%, 22%);
  color: white;
}

@media (max-width: 768px) {
  .search-container {
    flex-direction: column;
    gap: 1.5rem;
  }

  .search-input-wrapper,
  .select-style {
    max-width: 100%;
  }
}